/* Example tokeninput style #2: Facebook style */

ul.token-input-list-facebook {
    overflow: hidden; 
    height: auto !important;
	min-height:200px;
    width: 100%;
    border: 1px solid  #CCCCCC;
    cursor: text;
    font-size: 15px;
    font-family:tahoma, Arial, sans-serif;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;
}

 

ul.token-input-list-facebook li input {
    border: 0;
    width:100%;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
    -webkit-appearance: caret;
}
li.token-input-token-facebook {
    overflow: hidden; 
    height: auto !important; 
    height: 20px;
    margin: 4px;
    padding: 3px 5px;
    background-color: #eff2f7;
    color: #000;
    cursor: default;
    border: 1px solid #ccd5e4;
    font-size: 14px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: right;
    white-space: nowrap;
	font-family:tahoma, Arial, sans-serif;
}








li.token-input-token-facebook p {
    display: inline;
    padding: 0;
    margin: 0;
	
}

li.token-input-token-facebook span {
    color: #a6b3cf;
    margin-left: 5px;
	margin-right:5px;

    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-facebook {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff;
	clear:both!important;


}

li.token-input-input-token-facebook {
    float: right;
	width:100%;
    margin: 0;
    padding: 0;
	clear:both!important;
    list-style-type: none;
}



div.token-input-dropdown-facebook {
 
background-color: #ffffff;
 
text-align:right;

z-index: 12;
margin-right: 0;
overflow: hidden;
border-left: 1px solid #f1f2f3;
border-right: 1px solid #f1f2f3;
border-bottom: 1px solid #f1f2f3;  
}

div.token-input-dropdown-facebook p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown-facebook ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-facebook ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
    background-color: #3b5998;
    color: #fff;
}


