
.MyCrd{clear:both!important;margin:0!important;padding:0!important;}
.Font01{font-family:"Droid", Helvetica, sans-serif!important;}
.Font02{font-family:"NefelBotan", Helvetica, sans-serif!important;}

.Customer_Name{width:100%;padding-top:10px;padding-bottom:10px;font-size:24px;text-align:center;}
.Customer_Logo{width:100%;text-align:center;}
.Customer_Logo img{ max-width:310px; }
.Customer_Mass{width:100%;padding-top:20px;padding-bottom:20px;font-size:17px;text-align:center;}
 
 
 

.f_textarea {
height:120px!important
}


textarea {
height:120px!important;
direction:rtl;
}




 
 
 
 


 
 









.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  
}

.alert_Thanks{
text-align:center;
background-color: #4CAF50;
}

.Thanks_Mass{
padding:30px;
}
.err_code{
text-align:right;
}



.MyHomeIcon_Con{
text-align:center!important;

}

/*
.MyHomeIcon{
 
 
}

@media screen and (max-width:480px) {
.MyHomeIcon{width:90%;}
}
*/
 
.MyHomeIcon{
margin-top:20px;
}


.glyph a:link { text-decoration:none ; color:#333333 }
.glyph a:visited { text-decoration:none ; color:#333333 }
.glyph a:hover { text-decoration:none ; color:#FF3300}
.glyph a:active { text-decoration:none ;color:#333333 }
 
 
}
#glyphs {

padding:0px;
text-align: center;
}
.glyph {

text-align: center;
vertical-align: top;
background: #FFF;
width:100%;
margin-bottom:30px!important;

}

.glyph .glyph-icon {
padding: 10px;
display: block;
font-family:"Flaticon";
font-size: 64px;
line-height: 1;
}
.glyph .glyph-icon:before {
font-size: 64px;
color: #222;
margin-left: 0;
}
.class-name {
/*
font-size: 0.65em;
background-color: #222;
color: #fff;
border-radius:4px;
padding: 0.5em;
color: #FFFF99;
 */
}


@media screen and (max-width:480px) {
 
}



.ThisIsHomePage_x{
background-color: #0099cc;
background-image: url("dark-fish-skin.png");
}

.LogoView{background-color:#FFFFFF}
.Customer_HomeLogo{width:100%;text-align:center; padding-top:15px; padding-bottom:25px;}
.Customer_HomeLogo img{ max-width:310px; max-height:120px; }





.DivPng{ margin-top:20px; text-align:center}
.DivPng img{ max-width:145px;}


.DivPng a:link { text-decoration:none ; color:#0099cc }
.DivPng a:visited { text-decoration:none ; color:#0099cc }
.DivPng a:hover { text-decoration:none ; color:#0099cc}
.DivPng a:active { text-decoration:none ;color:#0099cc }



.DivPng_2 a:link { text-decoration:none ; color:#0099cc }
.DivPng_2 a:visited { text-decoration:none ; color:#0099cc }
.DivPng_2 a:hover { text-decoration:none ; color:#0099cc}
.DivPng_2 a:active { text-decoration:none ;color:#0099cc }

.DivPng_2{width:100%;text-align:center;} 

.Co_01{background-color:#790100}
.Co_02{background-color:#007879}
.Co_03{background-color:#005b78}

.MyBut{
color:#FFFFFF;
width:150px;
padding:10px;
padding-top:15px;
padding-bottom:15px;
margin:auto;
margin-top:10px;
margin-bottom:10px;
}




