body{background-color:#f7f7f7;color:#000!important;font-family:'Tajawal',sans-serif!important}
a{text-decoration:none!important;}
.Pc_FullRow{display:block;float:right;width:100%;height:auto;height:100%!important;min-height:200px!important}
.PC_RightDiv{display:block;float:right;width:auto;width:80%;height:auto;height:100%!important}
.Pc_logoDiv{display:block;float:right;width:100%;height:120px;background-color:#cdcdcd}
.Pc_MainDiv{display:block;float:right;width:100%;height:100%;background-image:url(img/login_back.jpg);background-repeat:no-repeat;background-position:center;background-size:cover}
.pc_SitelogoDiv{float:right;background:#303846;height:100%;text-align:right;padding-top:10px;padding-bottom:10px;padding-right:100px;width:65%;background-image:url(img/crop2_02.jpg);background-repeat:no-repeat}
.pc_SitelogoDiv img{max-height:100px}
.PC_LeftDiv{display:block;float:right;width:20%;height:auto;background-image:url(img/leftside_bg.jpg);background-repeat:no-repeat;background-position:center;background-size:cover}
.pc_CustlogoDiv{float:right;width:35%;height:180px;text-align:center}
.pc_CustlogoDiv img{max-width:300px;max-height:100px;margin-top:10px}
.Pc_HomeFormLogin{width:400px;margin:auto;padding:0px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;background-color:rgba(255,255,255,0.7); padding: 40px!important;}



.Login_LogoDiv{border-bottom:10px solid #d1bf97;padding:1em}
.Login_logo_container{background:#293b49;text-align:center}
.Login_Logo_img{max-width:85%;max-height:100px}
.Login_welcome_container{background:#293b49;border-bottom:10px solid #d1bf97}
.Login_welcome_container p{text-align:right;font-size:1.4em!important;padding-right:20px;padding-left:20px;line-height:1.5em!important;color:#FFF}
.Login_photo_container{min-height:300px;background-image:url(img/photo_01.jpg);background-repeat:no-repeat;background-position:center;background-size:cover}
.Login_formPP{padding-right:30px;padding-left:30px}
.Login_form_container{padding-bottom:30px;border-bottom:10px solid #d1bf97}

/* Reg Logo */
.logo_container_reglogo{background-color:#cdcdcd;text-align:right}
.LogoDiv_reglogo{border-bottom:7px solid #d1bf97;background:#293b49;-webkit-clip-path:polygon(20% 0,100% 0,100% 100%,0% 100%);clip-path:polygon(20% 0,100% 0,100% 100%,0% 100%)}
.Logo_img_reglogo{max-width:80%;margin-right:3%;vertical-align:middle!important}
.CustLogoDiv_reglogo{border-bottom:7px solid #293b49}
.CustLogoDiv_reglogo img{max-height:90%;max-width:90%;width:auto;height:auto;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto}


/* home page Mobile */
.HomeBack_mobile{float:right;width:100%;height:100%;background-image:url(img/home_back.jpg);background-repeat:no-repeat;background-position:center;background-size:cover}
.home_welcome_mobile{color:#FFF;padding:2em;text-align:right;font-size:1.2em;line-height:2em}
.but_div_mobile{padding:2em;text-align:right;font-size:1.2em;line-height:2em}
.homepage_but_mobile{display:block;background:#fff;border-radius:10px;border:2px solid #ccc;font-size:16px;font-weight:700;padding:7px 12px;width:auto;min-width:100px!important;color:#000;cursor:pointer;margin-bottom:15px}



/* Main Home Page Style */
.def_but{display:block;background:#fff;border-radius:10px;border:2px solid #ccc;font-size:16px;font-weight:700;padding:7px 12px;width:auto;min-width:100px!important;color:#000;cursor:pointer;margin-bottom:10px}


/* Pc Home Page  */
.Pc_MainDiv_Back{display:block;float:right;width:100%;height:100%;background-image:url(img/login_back.jpg);background-repeat:no-repeat;background-position:center;background-size:cover}
.Pc_MainDiv_Back_New{background-image:url(img/pc_new_back.jpg)!important;}
.Pc_CenterDiv{margin:auto;padding:15px;width:400px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;background-color:rgba(255,255,255,0.7)}
.home_welcome_pc{color:#000;text-align:right;font-size:1em; padding-right: 10px; padding-left: 10px;}
.but_div_pc{padding:1em;}
.homepage_but_pc {}


.left_but_div{padding:1em;}



/* PageListMobile*/
.PageListMobile{padding:2em;}
.dashbord_but{display:block;background:#d1bf97;border-radius:10px;border:2px solid #d1bf97;font-size:16px;font-weight:700;padding:7px 12px;width:auto;min-width:100px!important;color:#fff;cursor:pointer;margin-bottom:15px}
ul.a_list{list-style-type:circle;text-align:right;color:#FFF;font-size:1.2em;padding:0;padding-right:1.5em}
ul.a_list li{margin-bottom:15px;color:#FFF!important}
ul.a_list a{color:#FFF!important}
.PageListPc{padding:1em;}
.PageListPc ul.a_list li{margin-bottom:15px;color:#000!important}
.PageListPc ul.a_list a{color:#000!important}



.MobileDefBackForm{

}
.SurveysMobileAddForm{
    margin:auto;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    background-color:rgba(255,255,255,0.7);
    width: 80%;
    padding: 1em;

}





.MainTableViewList_PC{

    margin:auto;
    padding:15px;
    width:85%;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    background-color:rgba(255,255,255,0.9);
    height: 350px;
    overflow: auto;

}
.H3_FontAr{
    font-size:.9em;
}
.DeletePageDiv{
    padding: .5em;
}



.hanydarwish {
    display: none!important;
}


.MobileForm_CenterDiv{
    margin:auto;
    padding:15px;
    width:90%;
    margin-top: 50px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    background-color:rgba(255,255,255,0.9);
    height: 350px;
    overflow: auto;




}


.VeiwBackToHome{
    clear: both!important;
    width: 100%;
    margin-top: 30px!important;
}

.viewPhotoIntoTable{
    max-height: 80px;
    background: #c6c8ca;
    padding: 2px;
    border: #2b2e2e 1px solid;


}



.page_h1{
    float: right;
    width: 100%;
    text-align: right;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom:  1px solid rgba(0, 0, 0, .1);

}





.HomeBack_mobile_with_photo{float:right;width:100%;height:100%;background-image:url(img/home_back.jpg);background-repeat:no-repeat;background-position:center;background-size:cover}
.MobileForm_CenterDiv_with_photo{
    margin:auto;
    padding:15px;
    width:90%;
    margin-top: 20px;
    background-color:rgba(255,255,255,0.9);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    height: 250px;
    overflow: auto;

}



.employee_container_mobile{
    background: #293b49;
    border-bottom: 7px solid #d1bf97;
}

.employee_container_mobile .emp_info{
    color: #fff;
    direction: rtl;
    text-align: right;
    font-size: .9em!important;
    font-weight: bold;
}
.employee_container_mobile .emp_info span{
    color: #fff;
    direction: rtl;
    text-align: right;
    font-size: 1em!important;
    font-weight: normal!important;
}
.employee_container_mobile span.MobileNum{
    font-size: 1.3em!important;
    letter-spacing: 1px;
}


.employee_container_mobile .employeePhotoDiv{

    text-align: center;
}

.employee_container_mobile .employee_photo{
    max-width: 100px;
    border: 2px solid #fff;
}

.mobile_sms_send_mass{
    direction: rtl;
    text-align: right;
    padding: 10px;
}

.mobile_sms_send_mass .sms_emp_name{
    font-weight: bold;
}






.employee_container_for_sms_pc{
    background: #293b49;
    width: 50%;
    padding: 15px;
    border-bottom: 7px solid #d1bf97;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    float: right;

}

.employee_container_for_sms_pc .emp_info{
    color: #fff;
    direction: rtl;
    text-align: right;
    font-size: 1.1em!important;
    font-weight: bold;
}
.employee_container_for_sms_pc .emp_info span{
    color: #fff;
    direction: rtl;
    text-align: right;
    font-size: 1em!important;
    font-weight: normal!important;
}
.employee_container_for_sms_pc span.MobileNum{
    font-size: 1.3em!important;
    letter-spacing: 1px;
}


.employee_container_for_sms_pc .employeePhotoDiv{

    text-align: center;
}

.employee_container_for_sms_pc .employee_photo{
    max-width: 150px;
    border: 2px solid #fff;
}

.employee_container_for_sms_pc_form{


    width: 50%!important;
    padding-right: 25px;

    float: right!important;

}

.pc_sms_send_mass{
    direction: rtl;
    text-align: right;
    margin-bottom: 20px;
}



